<section class="bg-dark text-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>Say <br>Speech🎙</h1>
        <p>The simplest way to Recognize Your Speech 😋</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="taskbar" #taskbar>
          <p *ngFor="let text of recognizedTexts">{{ text }}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <button class="btn btn-primary" (click)="startRecognition()">Start Recognition</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-secondary" (click)="playbackSpeech()">Playback</button>
      </div>
    </div>
  </div>
</section>
